// 颜色定义规范
$color-background = #fff
$color-background-d = #f4f4f4
$color-highlight-background = #ff392a
$color-dialog-background = #666
$color-border = #e8e8e8
$color-border = #e0e0e0
$color-theme = #ff4b4b
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = #ff392a
$color-text-l = #555 
$color-text-ll = #999
$color-text-list = #666
$color-text-info = #333
$color-border-a = #ff392a

//字体定义规范
$font-size-small-s = .1rem
$font-size-small = .12rem
$font-size-medium = .14rem
$font-size-medium-x = .15rem
$font-size-large = .18rem
$font-size-large-x = .24rem